.wrapper {
  overflow: hidden;
  height: 0;
  opacity: 0.0001;
}
.wrapper.transition {
  -webkit-transition: height 0.35s ease-in-out, opacity 0.35s ease-in-out;
     -moz-transition: height 0.35s ease-in-out, opacity 0.35s ease-in-out;
       -o-transition: height 0.35s ease-in-out, opacity 0.35s ease-in-out;
          transition: height 0.35s ease-in-out, opacity 0.35s ease-in-out;
}
